{% extends 'base.html' %}

{% block content %}
    <div style = 'border-radius; margin: 2rem; text-align: center'>
        <h1 style="font-family: 'Staatliches', cursive'"> <!--steatlitch가 없으면 sursive를 사용하라는 의미-->
            Hello World LIST!
        </h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>

        </form>

        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
            <h4>
                {{ hello_world.text }}
            </h4>
            {% endfor %}
        {% endif %}

    </div>


{% endblock %}



<!--

        {% if hello_world_output %}
        <h1>
            {{ hello_world_output.text }}
        </h1>
        {% endif %}



    <style>
        .testing{
            background-color: white;
            height : 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>

    <div style = 'height: 20rem; background-color: #38df81; border-radius; margin: 2rem; font-size: 2rem'>
        <h1>
            testing
        </h1>

        <div class="testing" style="display: inline-block; width: 48px ; height: 48px">block</div>
        <div class="testing" style="display: inline-block; width: 3em ; height: 3em">block</div>
        <div class="testing" style="display: inline-block; width: 3rem ; height: 3rem">block</div>
        <div class="testing" style="display: inline-block; width: 30% ; height: 30%">block</div>

        <div class="testing" style="display: block;">block</div>
        <div class="testing" style="display: inline;">inline</div>
        <div class="testing" style="display: None;">None</div>
        <div class="testing" style="display: inline-block;">inline-block</div>
        <div class="testing"> default</div>

    </div>

-->