{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style = "text-align: center; max-width: 500px; margin: 4rem auto">
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <!--{{ form }}-->
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
            </form>

        </div>

    </div>

{% endblock %}