.pragmatic_logo{
    font-family: 'Staatliches', cursive;
}

.pragmatic_footer_button{
    font-size: 1.2rem;
}

.pragmatic_footer {
    text-align:center;
    margin-top: .9rem;
}

.pragmatic_header {
    text-align:center;
    margin: 2rem 0;
}
