    <div class="pragmatic_footer">
        <div class="pragmatic_footer_button">
            <span>공지사항</span> |
            <span>제휴문의</span> |
            <span>서비스 소개</span>
        </div>
        <div style="margin-top: 1rem">
            <h6 class="pragmatic_logo" > Pragmatic</h6>
        </div>

    </div>