    <div class="pragmatic_header">
        <div>
            <h1 class="pragmatic_logo" >Pragmatic</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>Login</span>
            </a>
             <a href="{% url 'accountapp:create' %}">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
            <!--
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            -->
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>

    </div>