{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img {
      width: 100%;
      border-radius: 1rem;
    }

</style>

    <div class="container">
       <div class="item1">
        <img src="https://picsum.photos/200/300" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/340" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/260" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/300" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/510" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/280" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/400" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/320" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/250" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/220" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/240" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/260" alt="">
       </div>
       <div >
        <img src="https://picsum.photos/200/280" alt="">
       </div>
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>
{% endblock %}
